.education {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.2em;
}

.education-header {
    font-size: 1.2em;
    color: var(--color-primary);
    margin-top: 20px;
    line-height: 1.1;
    height: 100%;
    margin-bottom: 1em;
}

.education-head-text {
    font-size: 1.2em;
    line-height: 40px;
    margin-left: 1.5em;
}

.education-head-img {
    align-self: center;
    justify-self: center;
}

.education-head-img img {
    display: block;
    max-width: 70%;
    max-height: 70%;
    border-radius: 5px;
    margin: 20px auto 10px;
    object-fit: cover;
}

.education-head-title {
    font-family: "Google Sans Bold", sans-serif;
    font-size: 1.5em;
    color: var(--color-primary);
    margin-top: 20px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.education-head-subtitle {
    font-family: "Google Sans Medium", sans-serif;
    line-height: 1.2;
    font-size: 0.8em;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 20px;
    color: var(--color-tertiary);
}

.education-head-desc {
    font-family: "Google Sans", sans-serif;
    font-size: 0.5em;
    line-height: 1.1em;
    margin: 0 auto;
    color: var(--color-text);
    justify-content: center
}

.education-content {
    display: flex;
    flex-direction: column;
    font-family: "Google Sans Regular", sans-serif;
    font-size: 1.3em;
    line-height: 40px;
    width: 90%;
    color: var(--color-tertiary);
}

.education-content-title {
    font-family: "Google Sans Bold", sans-serif;
    font-size: 1.2em;
    color: var(--color-primary);
    line-height: 1.1;
    margin-bottom: 50px;
    text-align: center;
}

@media (max-width: 768px) {
    .education {
        font-size: 1.6em;
        text-align: center;
    }
    .education-header {
        flex-direction: column;
        margin-top: 0;
    }
    .education-head-text {
        margin: 0 auto;
    }
    .education-head-img img {
        max-height: 40%;
        max-width: 75%;
    }
}