.skills {
  font-size: 1.2em;
  margin: 0 auto;
  text-align: start;
}

.skills__header {
  font-size: 1.2em;
  color: var(--color-primary);
  margin-top: 20px;
  line-height: 1.1;
  margin-bottom: 9em;
  height: 100%;
}

.skills__header-text {
  margin-left: 1.5em;
}

.skills__header-img {
  align-self: center;
  justify-self: center;
}

.skills__header-img img {
  width: 100%;
  height: auto;
}

.skills__title {
  font-family: "Google Sans Bold", sans-serif;
  font-size: 1.8em;
  color: var(--color-primary);
  margin-top: 20px;
  line-height: 1.1;
  margin-bottom: 10px;
}

.skills__subtitle {
  font-family: "Google Sans Medium", sans-serif;
  line-height: 1.2;
  font-size: 1em;
  font-weight: 300;
  margin-top: 15px;
  color: var(--color-tertiary);
}

@media (max-width: 1380px) {
}

@media (max-width: 48em) {
  .skills {
    font-size: 1.5em;
  }

  .skills__header {
    display: block;
    text-align: center;
    margin-bottom: 3em;
  }

  .skills__header-text {
    margin-left: 0;
  }

  .skills__header-img {
    margin-bottom: 2em;
  }
}
