.education-card {
  display: flex;
  font-family: "Google Sans Regular", sans-serif;
  font-size: 0.8em;
  justify-content: center;
  margin: 0 auto;
  color: var(--color-tertiary);
  padding-bottom: 50px;
}

.education-card-img {
  max-width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.education-card-img img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.education-card-box {
  margin: 0.8em;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #b9aeae;
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.education-card-head {
  display: flex;
  background-color: var(--color-bg-secondary);
}

.education-card-head-text {
  padding: 25px;
  text-align: start;
}

.education-card-title {
  font-family: "Google Sans Bold", sans-serif;
  font-size: 0.8em;
  margin-top: 1em;
  margin-left: 0.85em;
  line-height: 1.1;
}

.education-card-subtitle {
  font-family: "Google Sans Medium", sans-serif;
  line-height: 1.2;
  font-size: 0.7em;
  margin-left: 1em;
}

.education-card-head-details {
  display: flex;
  font-family: "Google Sans Regular", sans-serif;
  justify-content: start;
  font-size: 0.5em;
  margin-left: 1.5em;
  text-align: start;
}

.education-card-duration {
  margin: 0 1.5em 0 0;
}

.education-card-content {
  padding: 10px 10px 1em;
}

.education-card-grade {
  font-size: 1em;
  margin: 0 5em 0 0;
}

.education-card-text {
  font-family: "Google Sans Regular", sans-serif;
  font-size: 0.6em;
  font-weight: 400;
  color: var(--color-text);
  line-height: 1.2em;
  width: 90%;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 2em;
  text-align: start;
  display: list-item;
  list-style-type: disc;
}

@media (max-width: 768px) {
  .education-card-head {
    display: block;
    text-align: center;
    padding-bottom: 10px;
  }

  .education-card-head-details {
    font-size: 0.8em;
  }

  .education-card-title,
  .education-card-subtitle,
  .education-card-head-details {
    margin: 0 auto;
  }

  .education-card-title {
    margin-bottom: 10px;
  }

  .education-card-img {
    display: flex;
    max-width: 100%;
    justify-content: center;
  }

  .education-card-img img {
    width: 50%;
  }

  .education-card-head-text {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }

  .education-card-grade,
  .education-card-duration {
    margin: 0 auto;
  }

  .education-card-title {
    margin-top: 0;
  }

  .education-card-subtitle {
    text-align: center;
  }

  .education-card-content {
    padding: 0.5em 1em 0.5em 1em;
  }

  .education-card-text {
    margin: 0 auto 10px 1em;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: start;
  }
}
